body {
    background-color: #212529;
    color: #e9ecef;
}



nav a {
    color: #e9ecef;
    text-decoration: none;
}

.links a {
    margin: 5px;
}

nav {
    background-color: #333;
}

/* section profil */
.imgs-bio img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    box-shadow: rgba(105, 105, 240, 0.25) 0px 50px 100px -20px, rgba(237, 236, 236, 0.3) 0px 30px 60px -30px;
}

.bio{
    margin-top: 100px;

}

.desc-bio-small{
    font-size: 9px;
    font-weight: 100;
}
.desc-bio-h1{
    font-weight: 100;
}

/* main */
.main{
    margin-bottom: 100px;
}


.footer-bttm{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 600px){

    nav {
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 600px)
{
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* card element */
.show
{
    display: block;
}

.noshow
{
    display: none;
}


.cards-h{
    height: 400px;
    width: 300px;
    /* min-width: 300px; */
    /* min-height: 200px; */
    overflow: scroll;
}

.my-card{
    background-color: #e9ecef;
    color: #212529;
    padding: 10px;
    border-radius: 5px;
}


/* scrool bar  */
 .container-wrapper {
    width: 100%;
    /* position: absolute; */
    overflow: hidden;
    transform: translate(-50, -50);
    /* border: #7290ae solid 1px; */
    padding: 5px;
}

.container-slide {
    display: flex;
    gap:10px;
    overflow-x: auto;
    cursor: grab;
    scroll-behavior: smooth;
    border: none;
    scrollbar-width: none;
    /* -ms-overflow-style: none; */
}

.container-slide.dragging {
    cursor: grabbing;
}

.slide {
    min-width: 300px;
    transition: transform 0.3s ease-in-out;
    background-color: #7290ae;
    padding: 10px;
    box-shadow: rgba(162, 162, 240, 0.25) 0px 30px 60px -12px inset, rgba(241, 241, 241, 0.3) 0px 18px 36px -18px inset;
    border-radius: 5px;
}
